body{
    background:#ebecee;
    padding:40px;
}

h1{
    text-align:center;
    color:#02079c;
}
.titleTodosGastos {
      font-size: 20px;
      color: rgb(98, 13, 126);
}
.formulario{
     display: flex;
    flex-direction: column;
    align-items: center;
}
#listaTodosGastos li{
    display: grid;
    gap: 10 px;
   grid-template-columns : repeat( 5, 1fr)
}

.boton-borrar {
  background-color: #ff2aa3;
  color: #ffd3f5; 
  display: flex;
  justify-content: flex-end;

 }
#listaGastosCategoria li{
    display: grid;
    gap: 10 px;
   grid-template-columns : repeat( 5, 1fr)
}

 


